/* Resetowanie domyślnych stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Stylizacja kanwy (gry) */
#gameCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black; /* Możesz zmienić na inną teksturę */
}
#hud {
  position: absolute;
  top: 10px; /* Lekko obniżone */
  left: 50%;
  transform: translateX(-50%); /* Wyśrodkowanie */
  display: flex;
  gap: 20px; /* Rozstawienie elementów */
  background: rgba(0, 0, 0, 0.6); /* Półprzezroczyste tło */
  padding: 10px 30px;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.hud-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.hud-icon {
  width: 60px;
  height: 60px;
  filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.6));
}
